h1, h2, h3 {
    color: $color_black;
    font-family: "Oxygen-Bold", Arial;
    margin: 0;
}

/* ======================================================================
    PROPIEDADES PARA H1
    ===================================================================== */
h1 {
    font-size: $font_size_h1 !important;
    text-align: center;
}

/* ======================================================================
    PROPIEDADES PARA H2
    ===================================================================== */
h2 {
    font-size: $font_size_subtitle !important;
}

/* ======================================================================
    PROPIEDADES PARA H3  
    ===================================================================== */
h3 {    
    font-size: $font_size_h3 !important;
}

/* ======================================================================
    PROPIEDADES PARA BUTTON  
    ===================================================================== */
button {
    margin-top: 0;
    @include border-radius( 100px);
    width: 70%;
    margin: 15px auto;
    height: 50px;
    box-shadow: 1px 1px 5px $color_gray4;
    line-height: 20px;
    padding: 0 20px;
    border-style: none;

    &[disabled] {
        opacity: .4;
    }
}

/* ======================================================================
    PROPIEDADES PARA FORM 
    ===================================================================== */
form {
    width: 100%;
}