<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in ChatsCtrl.chats | customChatFilter:1 " type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2 ng-bind="chat.name"></h2>
        <p ng-bind="chat.lastText"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button 
            class="button-assertive" 
            ng-click="ChatsCtrl.remove(chat)" 
            ng-bind="root_messages.features.chat.btnDelete">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
